{{!-- 
<div class="col-sm-6 col-md-5 text-center">
<div class="card card-body">
<form action="">
	<div class="form-group">
		<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
	</div>
	<div class="form-group">
		<input type="email" class="form-control" id="email" placeholder="Enter Mail" name="email" required>
	</div>
	<div class="form-group">
		<input type="tel" class="form-control" id="phone" placeholder="Enter Mobile No." name="phone" required>
	</div>
	<button type="submit" class="btn">Submit</button>
</form>
</div>
</div> --}}

<h1>Welcome to the home page</h1>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">