<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MiningPort</title>
</head>
<body>
<div id="container">
<div class="login-main">
<div class="login-left">
	<img src="login.png">
</div>
<div class="login-right">
	<h1 class="login-title">LOGIN</h1>
<form action="/login" method="POST">
	<div class="form-group">
		<input type="text" class="form-control" id="name" placeholder="username" name="name" required>
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
	</div>
	<br>
	<br>
	<button type="submit" class="btn">Login</button>
</form>
	<br>
	<p class="or">or</p>
	<a href="/register"><button type="submit" class="btn reg-btn">Register</button></a>	
</div>
</div>
</div>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/style.css">

</body>
</html>